.list{
    background-color: turquoise;
    color:rgb(158, 90, 1);
    font-size: 22px;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}